<ion-header >
    <ion-toolbar color="tertiary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;">Others</ion-title>
      <!-- <img src="assets/img/other.png" height=50px; width=50px;> -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card *ngFor='let data of rData'>
      <ion-card-content style="font-family: 'Times New Roman', Times, serif;">
        <div style="color:dodgerblue; text-align: right"><ion-icon name="calendar"></ion-icon>{{data.date}}</div>
        <div style="color:dodgerblue;font-family: 'Times New Roman', Times, serif;">{{data.title}}</div>
        <span style="color:teal;font-family: 'Times New Roman', Times, serif;"><ion-icon color="secondary" color="secondary" name="time"></ion-icon>&nbsp;<b>Time:</b></span>&nbsp;<span style="color:black;font-family: 'Times New Roman', Times, serif;">{{data.time}}</span><br>
        <span style="color:teal;font-family: 'Times New Roman', Times, serif;"><ion-icon color="secondary" name="pin"></ion-icon>&nbsp;<b>Venue:</b></span>&nbsp;<span style="color:black;font-family: 'Times New Roman', Times, serif;">{{data.venue}}</span><br>
        <span style="color:teal;font-family: 'Times New Roman', Times, serif;"><ion-icon color="secondary" name="list"></ion-icon>&nbsp;<b>Details:</b></span>&nbsp;<span style="color:black;font-family: 'Times New Roman', Times, serif;">{{data.detail}}</span><br>
      </ion-card-content>
    </ion-card>  
</ion-content>
  