<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-title><b style="color:white;">No Internet connection</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="3">
            <ion-icon style="color:dodgerblue;height: 160px;width: 160px" size="large" name="wifi"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="color:red;font-family: 'Times New Roman', Times, serif;text-align: center;font-size: 18px">
            Sorry! You don't have an Internet connection or something went wrong...
          </p>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>