.teamname-style{
    color:teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.squad-style{
    //color:teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.teamplayer-style{
    //color:teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}