<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons>
        <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:white;"></ion-back-button>
        <ion-title id="title" style="color:white;"><b>Contact</b></ion-title>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <br>
             <span style="color: dodgerblue;">
                Please let others know of your event, special offers or sell your used product through our app by calling us at:
            </span>
            <br>
            </ion-item>
        <ion-item>
            <br>
            <ion-text (click)="callUs('17285733')">17285733</ion-text> &nbsp;/&nbsp; <ion-text (click)="callUs('17714389')">17714389</ion-text>&nbsp; /&nbsp; 
            <ion-text (click)="callUs('17981803')">17981803</ion-text><br>
        </ion-item>
        <ion-item>
            Or mail us at:<br><br>
            thimphuevents2019@gmail.com<br><br>
        </ion-item>
    </ion-list>
</ion-content>
