<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title id="title" style="color:white;">Track Garbage Truck</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div style="border: 2px; border-style: solid;" id="map_canvas">
    <ion-icon name="refresh-circle" size="large" color="tertiary" (click)="refreshMap()"></ion-icon>
  </div>

</ion-content>