<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons>
          <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:rgb(255, 255, 255);"></ion-back-button>
        <ion-title style="color:white;"><b>Thromde Driver</b></ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-list>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6">
              <ion-item>
                <img src="assets/img/thromde.png" height="120px" width="120px">
              </ion-item>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row><br><br>
          <ion-row>
            <ion-col>
              <ion-input color="secondary" class="input_border" placeholder="Vehicle no. eg: BP2A2343" [(ngModel)]="vehNo"></ion-input>
            </ion-col>
          </ion-row>
           <ion-row>
            <ion-col>
              <ion-input color="secondary" class="input_border" type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-button color="tertiary" expand="full" (click)="login()"> Login </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-grid>
</ion-content>