<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons>
          <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:rgb(255, 255, 255);"></ion-back-button>
        <ion-title style="color:white;"><b>Driver Dashboard</b></ion-title>
        <ion-button style="--background:transparent;" (click)="openOptions()" slot="right"><ion-icon name="options"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="4"><ion-label><b>Vehicle No:</b></ion-label></ion-col>
      <ion-col size="5"><ion-label>{{vehicleno}}</ion-label></ion-col>
      <ion-col size="3"><ion-label style="color:dodgerblue;" (click)="logout()">Logout</ion-label></ion-col>
      <!-- <ion-button color="secondary"  expand="full">Log Out</ion-button> -->
    </ion-row>
  </ion-grid>
  <ion-grid>
    <div style="text-align: center;color:teal"><b>SET DETAILS</b></div>
    <ion-row>
      <ion-col size="3"><br><b>Location:</b></ion-col>
      <!-- Dashboard for clean city drivers only -->
      <ion-col size="7">
          <ion-select class="input_border" interface="popover" placeholder="Select Location" [(ngModel)]="routeFrom">
            <ion-select-option value="Dechencholing">Dechencholing Area</ion-select-option>
            <ion-select-option value="Walsipang">Walsipang</ion-select-option>
            <ion-select-option value="Drangrina">Drangrina</ion-select-option>
            <ion-select-option value="Jungshina Pamtsho">Jungshina Pamtsho Area</ion-select-option>
            <ion-select-option value="Taba Army Colony & Lower School">Taba Army Colony & Lower School</ion-select-option>
            <ion-select-option value="Upper Taba">Upper Taba</ion-select-option>
            <ion-select-option value="Lower Taba">Lower Taba</ion-select-option>
            <ion-select-option value="Taba Highway">Taba Highway</ion-select-option>
            <ion-select-option value="Lower Langjophakha (Offices & Parks)">Lower LangjoPhakha (Offices & Parks)</ion-select-option>
            <ion-select-option value="Upper Langjophakha">Upper LangjoPhakha</ion-select-option>
            <ion-select-option value="Lower LangjoPhakha (India House)">Lower Langjophakha (India House)</ion-select-option>
            <ion-select-option value="Zilukha Area">Zilukha Area</ion-select-option>
            <ion-select-option value="Bebena & Hejo">Bebena & Hejo</ion-select-option>
            <ion-select-option value="Kawajangsa Area">Kawajangsa Area</ion-select-option>
            <ion-select-option value="Satellite Town">Satellite Town</ion-select-option>
            <ion-select-option value="Pamtsho">Pamtsho</ion-select-option>     
          </ion-select>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="3"><br><b>To:</b></ion-col>
      <ion-col size="7">
        <ion-select class="input_border" interface="popover" placeholder="Select Destination" [(ngModel)]="routeTo">
          <ion-select-option value="town">Town</ion-select-option>       
          <ion-select-option value="changjiji">Changjiji</ion-select-option>       
          <ion-select-option value="changzamtog">Changzamtog</ion-select-option>       
          <ion-select-option value="babesa">Babesa</ion-select-option>       
          <ion-select-option value="olakha">Olakha</ion-select-option>       
          <ion-select-option value="motithang">Motithang</ion-select-option>      
        </ion-select>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="3"><br><b>Type:</b></ion-col>
      <ion-col size="6">
        <ion-select class="input_border" interface="popover" placeholder="Select Type" [(ngModel)]="wasteType">
          <ion-select-option value="wet">Wet</ion-select-option>       
          <ion-select-option value="dry">Dry</ion-select-option>       
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"><b>Descriptions:</b> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10"> 
        <ion-textarea class="input_border" placeholder="Write other details (Optional)" [(ngModel)]="details"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row padding>
      <ion-col size="5"> 
        <ion-button color="tertiary" (click)="start()" expand="full">Start</ion-button>
      </ion-col>
      <ion-col size="5"> 
        <ion-button color="tertiary" [disabled]="stopButton" (click)="stop()" expand="full">Stop</ion-button>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>